body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(158, 240, 213);
    font-family: Arial;
}
.form-container{
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px;
}
.form-container input{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing:  border-box;
}
.form-container button{
    padding: 10px;
    width: 100%;
    background-color: rgb(85, 191, 138);
    color: rgb(15, 13, 11);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* Estilização de manesagem de validação*/
.message{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: none;
    
}
.message.success{

    background-color: #d4edda;
    color: #155724;
}
.message.error{

    background-color: #f8d7da;
    color: #721c24;
}